// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$mainBlue: #2196f3;
$color-white: #ffffff;

$bg-primary: 6px;
.bg-primary {
    margin-right: $bg-primary;
}

$bg-danger: 6px;
.bg-danger{
    margin-right: $bg-danger;
}
